/* Title bar */
.title {
  height: 30px;
  font-size: 140%;
  margin: 0 0 5px 0;
  font-weight: bold;
  text-align: center;
  color: rgb(229, 229, 236);
  background-color: #030119;
  animation: colorChangeTitle 5s infinite linear; /* Apply animation */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title:hover {
  cursor: pointer;
}

@keyframes colorChangeTitle {
  0% {
    color: #83e6ff;
  } /* Blue */
  25% {
    color: #37fff5;
  } /* Light Blue */
  50% {
    color: #425bd3;
  } /* Cyan */
  75% {
    color: #0066ff;
  } /* Medium Blue */
  100% {
    color: #83e6ff;
  } /* Back to Blue */
}
/* Nav bar */
.navbar {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.button {
  height: auto;
  width: 120px;
  font-family: Cambria;
  background-color: #030119;
  color: white;
  cursor: pointer;
}
.button:hover {
  color: yellow;
}
.button:active {
  height: auto;
  width: 120px;
  font-family: Cambria;
  background-color: yellow;
  color: black;
}

@keyframes colorChangeButton {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: rgba(255, 255, 0, 0.197);
  }
}

.button.active {
  height: auto;
  width: 120px;
  font-family: Cambria;
  background-color: rgb(255, 255, 0);
  color: black;
}
