@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* textbox****************/
/************ textbox **************/

.textbox {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  justify-content: center;

  color: rgb(13, 255, 0);
  padding-left: 5px;
  box-sizing: border-box;
}

.textbox p {
  border: 1px transparent solid;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
  opacity: 0;
}

.textbox p:hover {
  border: 1px rgb(74, 74, 74), solid;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  text-align: left; /* Ensures the text is aligned to the left */ /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40) forwards, blink steps(40) 1s;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
    visibility: visible;
    opacity: 1;
  }
  to {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
}

@keyframes blink {
  from {
    border-right: 2px green solid;
  }
}

.textbox p:nth-child(1) {
  animation-delay: 0s; /* No delay for the first paragraph */
}
